@import "tailwindcss";

@theme {
  --color-primary: #5048e5;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;

  --font-display: "Inter", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

body {
  font-family: 'Inter', sans-serif;
}

.sidebar-item-active {
  background-color: rgba(80, 72, 229, 0.1);
  color: #5048e5;
  border-right: 3px solid #5048e5;
}